body {
  background-color: lightgreen;
  margin: 10%
}
.exp-header{
  border-top: 1px solid black

}
h1 {
  color: #444;
  font-size:24px;
  font-family: Ariel, Helvetica,sans-serif;
}
img{
   width: 99%;
  }


 p1, p2, p3, li {
  color: #444;
 
  
  
  
}

.header {
  
  background-color:lighgreen;
  padding-left: 10px;
 

   
